{{ define "header" }}
{{ $author := index .Site.Data.authors ( .Params.author | default "" ) }}
<div class="container">
    <div class="mb-md blog-entry-header single" style="background-image: url('{{ .Site.BaseURL }}/{{ .Dir }}banner.png')" data-href="{{ .Permalink }}">
        <div>
            <span class="title px-md py-sm has-background-dark">{{ .Title }}</span>
        </div>
        {{ if $author }}
        <div class="mt-lg">
            <span class="h3 px-md py-sm has-background-dark">
                Written by <a href="https://community.citra-emu.org/users/{{ $author.key }}">{{ $author.name }}</a> 
                on {{ .Date.Format "January 02 2006" }}
            </span> 
        </div>
        {{ else }}
        <div>
            <span class="h3 px-md py-sm has-background-dark">
                Written on {{ .Date.Format "January 02 2006" }}
            </span>
        </div>
        {{ end }}
    </div>
</div>
{{ end }}

{{ define "main" }}
<div class="content pt-sm">
    {{ .Content }}
</div>

<!--
{{ if .Params.forum }}
<div class="entry-comments">
  <div id="discourse-comments"></div>
  <script type="text/javascript">
    DiscourseEmbed = { discourseUrl: 'https://community.citra-emu.org/', topicId: "{{ .Params.forum }}" };
    (function() {
      var d = document.createElement('script'); d.type = 'text/javascript'; d.async = true;
      d.src = DiscourseEmbed.discourseUrl + 'javascripts/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(d);
    })();
  </script>
</div>
{{ end }}
-->
{{ end }}