<a href="{{ .Permalink }}">
    <div class="card">
        <div class="card-image">
            <figure class="image is-2by1">
                <img src="{{.Permalink}}banner.png" alt="">
            </figure>
        </div>

        <div class="card-content">
            <p class="title is-4">{{ .Title }}</p>
            <p class="subtitle is-6">{{ .Date.Format "January 02 2006" }} by {{ .Params.author }}</p>

            <div class="content">
                {{ .Summary }}
            </div>
        </div>
    </div>
</a>