<div class="container">
    <div class="navbar-brand">
        <a class="navbar-item" href="{{ .Site.BaseURL }}">
            {{ partial "menu.html" . }}
        </a>

        <div class="burger navbar-burger" data-target="navMenu">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <div class="navbar-menu" id="navMenu">
        <div class="navbar-start">
            {{ $currentPage := . }} {{ range .Site.Menus.main }} {{ if .HasChildren }}
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-item">
                    {{ .Name }}

                    <span class="icon">
                        <i class="fas fa-caret-down"></i>
                    </span>
                </a>
                <div class="navbar-dropdown">
                    {{ range .Children }}
                    <a class="navbar-item {{ if $currentPage.IsMenuCurrent " main " . }} is-active{{ end }}" href="{{ .URL }}">
                        {{ .Name }}
                    </a>
                    {{ end }}
                </div>
            </div>
            {{ else }}
            <a class="navbar-item {{ if $currentPage.IsMenuCurrent " main " . }} is-active{{ end }}" href="{{ .URL }}">
                {{ .Name }}
            </a>
            {{ end }} {{ end }}

            <a class="navbar-item is-hidden-desktop" href="{{ .Site.Params.DiscordURL }}" target="_blank">
                discord
            </a>
            <a class="navbar-item is-hidden-desktop" href="{{ .Site.Params.TwitterURL }}" target="_blank">
                twitter
            </a>
            <a class="navbar-item is-hidden-desktop" href="{{ .Site.Params.GithubURL }}" target="_blank">
                github
            </a>
        </div>

        <div class="navbar-end">
            <!-- Navbar icons -->
            <a class="navbar-item is-hidden-touch" href="{{ .Site.Params.DiscordURL }}" target="_blank">
                <span class="icon">
                    <i class="fab fa-2x fa-discord"></i>
                </span>
            </a>
            <a class="navbar-item is-hidden-touch" href="{{ .Site.Params.TwitterURL }}" target="_blank">
                <span class="icon">
                    <i class="fab fa-2x fa-twitter"></i>
                </span>
            </a>
            <a class="navbar-item is-hidden-touch" href="{{ .Site.Params.GithubURL }}" target="_blank">
                <span class="icon">
                    <i class="fab fa-2x fa-github"></i>
                </span>
            </a>
        </div>
    </div>
</div>