{{ $paginator := .Paginator }}

<!-- If there's more than one page. -->
{{ if gt $paginator.TotalPages 1 }}
<div class="section">
  <div class="container">
    <nav class="pagination is-right" role="navigation" aria-label="pagination">

      {{ if $paginator.HasPrev }}
        <a class="pagination-previous" href="{{ $paginator.Prev.RelPermalink }}">Previous Page</a>
      {{ end }}
      
      {{ if $paginator.HasNext }}
        <a class="pagination-next" href="{{ $paginator.Next.RelPermalink }}">Next Page</a>
      {{ end }}

      <ul class="pagination-list">
        {{ range $paginator.Pagers }}
        <li>
          <a class="pagination-link" aria-label="Goto page {{ .PageNumber}}" href="{{ .RelPermalink }}">{{ .PageNumber }}</a>
        </li>
        {{ end }}
      </ul>
    </nav>
  </div>
</div>
{{ end }}