<section id="homepage-hero" class="hero is-primary is-bold">
    <div class="hero-head">
        <!-- is-dark / is-light is set by hero.js for the homepage hero -->
        <nav id="hero-navbar" class="navbar is-size-6 is-fixed-top" role="navigation" aria-label="main navigation">
            {{ partial "layout/navbar_contents" . }}
        </nav>
    </div>

    <div class="hero-body">
        <section class="section">
            <div class="container">
                <!-- is-dark / is-light is set by hero.js for the homepage hero -->
                <nav id="hero-navbar" class="navbar is-size-6 is-fixed-top" role="navigation" aria-label="main navigation">
                    {{ partial "layout/navbar_contents" . }}
                </nav>

                <div class="columns">
                    <!-- Left panel -->
                    <div class="column is-centered-vertically is-5">
                        {{ partial "home_hero_contents" . }}
                    </div>

                    <!-- Right panel -->
                    <div class="column is-centered-vertically is-7 is-hidden-mobile">
                        <figure class="image">
                            <img src="{{ .Site.BaseURL}}/images/jumbotron.svg" />
                        </figure>
                    </div>
                </div>
            </div>
    </div>
    </section>
</section>