<section id="homepage-hero" class="hero is-primary is-bold">
    <div class="hero-body">
        <section class="section">
            <div class="container">
                <div class="columns">
                    <!-- Left panel -->
                    <div class="column is-centered-vertically is-5">
                        {{ partial "home_hero_contents" . }}
                    </div>

                    <!-- Right panel -->
                    <div class="column is-centered-vertically is-7 is-hidden-mobile">
                        <figure class="image">
                            {{ partial "jumbotron.html" . }}
                        </figure>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>