<nav class="navbar is-transparent is-size-6" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{ .Site.BaseURL }}">
                <img src="{{ .Site.BaseURL }}/images/menu.png" alt="{{ .Site.Title }} {{ .Site.Params.Tagline }}" width="112" height="28">
            </a>
        </div>
        <div class="navbar-menu">
            <div class="navbar-start">
                <!-- TODO: Navbar goes here -->
            </div>
        </div>
    </div>
</nav>