{{ define "main" }}
<section class="section baguetteBox">
    <h1 class="title">{{ .Title }}</h1>

    {{ .Content }}

    <div class="tile is-ancestor">
        {{ $columns := 3 }}
        {{ $files := readDir "/static/images/screenshots/" }}
        {{ range $index, $element := $files }}
        {{ $fileTitle := (index (split .Name "-") 1) }}
        {{ $fileTitle := (index (split $fileTitle ".") 0) }}
        <div class="tile is-parent">
            <div class="tile is-child is-boxed">
                <a href="/images/screenshots/{{ .Name }}" title="{{ $fileTitle }}">
                    {{ $screenshot := resources.Get (printf "/images/screenshots/%s" .Name) }}
                    {{ $thumb := $screenshot.Fit "640x360 jpg" }}
                    <img src="{{ $thumb.Permalink }}" alt="{{ $fileTitle }}">
                </a>
            </div>
        </div>
        {{if eq (mod $index $columns) (sub $columns 1)}}
    </div>
    <div class="tile is-ancestor">
        {{ end }}
        {{ end }}
    </div>
</section>
{{ end }}
